<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Explore Desktop</Name>
    <Version>0.7.0</Version>
    <Title>Explore Desktop</Title>
    <Publisher>Mentalab GmbH.</Publisher>
    <InstallerApplicationIcon>../packages/com.Mentalab.ExploreDesktop/extras/MentalabLogo</InstallerApplicationIcon>
    <InstallerWindowIcon>../packages/com.Mentalab.ExploreDesktop/extras/MentalabLogo.png</InstallerWindowIcon>
    <StartMenuDir>Explore Desktop</StartMenuDir>
    <TargetDir>@HomeDir@/ExploreDesktop</TargetDir>
    <RemoteRepositories>
        <Repository>
            <Url>https://wiki.mentalab.com/explore-desktop-release/</Url>
        </Repository>
    </RemoteRepositories>
    <!-- <RunProgram>@TargetDir@/ExploreDesktop/ExploreGUI.exe</RunProgram> -->
    <RemoveTargetDir>true</RemoveTargetDir>
    <WizardStyle>Modern</WizardStyle>
    <!-- <ControlScript>controlscript.qs</ControlScript> -->
    <!-- <Logo>../packages/com.Mentalab.ExploreGUI/extras/MentalabLogo.png</Logo> -->
    <!-- <Banner>MentalabLogo_full.png</Banner> -->
</Installer>
