<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>ExploreDesktop</Name>
    <Version>0.2.2</Version>
    <Title>ExploreDesktop</Title>
    <Publisher>Mentalab GmbH.</Publisher>
    <InstallerApplicationIcon>../packages/com.Mentalab.ExploreDesktop/extras/MentalabLogo</InstallerApplicationIcon>
    <InstallerWindowIcon>../packages/com.Mentalab.ExploreDesktop/extras/MentalabLogo.png</InstallerWindowIcon>
    <StartMenuDir>ExploreDesktop</StartMenuDir>
    <TargetDir>@HomeDir@/ExploreDesktop</TargetDir>
    <RemoteRepositories>
        <Repository>
            <!-- <Url>file:///C:/Qt/QtIFW/examples/online/repository</Url> -->
            <Url>http://localhost:8000/repository</Url>
        </Repository>
    </RemoteRepositories>
    <!-- <RunProgram>@TargetDir@/ExploreGUI.exe</RunProgram> -->
    <RemoveTargetDir>true</RemoveTargetDir>
    <WizardStyle>Modern</WizardStyle>
    <!-- <ControlScript>controlscript.qs</ControlScript> -->
    <!-- <Logo>../packages/com.Mentalab.ExploreGUI/extras/MentalabLogo.png</Logo> -->
    <!-- <Banner>MentalabLogo_full.png</Banner> -->
</Installer>
